#! /usr/bin/env bash

set -eufo pipefail

{{ $taps := concat
    .packages.darwin.taps.common
    (.isWork | ternary .packages.darwin.taps.work .packages.darwin.taps.personal)
    | sortAlpha
    | uniq
-}}
{{ $brews := concat
    .packages.darwin.brews.common
    (.isWork | ternary .packages.darwin.brews.work .packages.darwin.brews.personal)
    | sortAlpha
    | uniq
-}}
{{ $casks := concat
    .packages.darwin.casks.common
    (.isWork | ternary .packages.darwin.casks.work .packages.darwin.casks.personal)
    | sortAlpha
    | uniq
-}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($taps) -}}
tap {{ . | quote }}
{{ end -}}
{{ range ($brews) -}}
brew {{ . | quote }}
{{ end -}}
{{ range ($casks) -}}
cask {{ . | quote }}
{{ end -}}
EOF

brew update && brew upgrade
