# The following variables are only available within this TOML template file

{{- $personalName := promptStringOnce . "name" "What is your name" "Loïc Teixeira" -}}
{{- $personalEmail := promptStringOnce . "email" "What is your email" -}}
{{- $isWork := promptBoolOnce . "isWork" "Is it a work machine" -}}

# The actual template

progress = true

[data]
	name = {{ $personalName | quote }}
	email = {{ $personalEmail | quote }}
	isWork = {{ $isWork }}

[data.packages.darwin.brews]
	common = [
		"asdf",
		"coreutils",
		"direnv",
		"starship",
		"vim",
	]
	personal = [
		"exiftool",
	]
	work = [
	]

[data.packages.darwin.casks]
	common = [
		"1password",
		"appcleaner",
		"docker",
		"firefox",
		"google-chrome",
		"iterm2",
		"raycast",
		"slack",
		"spotify",
		"visual-studio-code"
	]
	personal = [
		"android-file-transfer",
		"dropbox",
		"obsidian",
		"telegram",
		"vlc",
	]
	work = [
		"google-cloud-sdk",
		"linear",
		"notion",
	]
